*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hotParent{
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/376/764/non_2x/beautiful-sunset-on-summer-background-free-vector.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coldParent{
    background-image: url(https://media.publit.io/file/Sea-with-the-ship-night.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coldCir{
    height: 300px;
    width: 300px;
    border: 5px solid black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#132741;
    color: white;
}
.hotCir{
    height: 300px;
    width: 300px;
    border: 5px solid black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: coral;
}

.buttons {
    font-size: 2vw;
    margin: 1px 3px;
    height: 50px;
    width: 50px;
    font-weight: 900;
}



.temp h1{
    font-size: 5vw;
    font-weight: 700;
}